/****************************************************************************

hmmstr.rc

*****************************************************************************/
#include "hmmstr.rh"

STRINGTABLE
{
 STR_UNITS "None"
 STR_UNITS+1 "Peasant"
 STR_UNITS+2 "Archer"
 STR_UNITS+3 "Pikeman"
 STR_UNITS+4 "Swordsman"
 STR_UNITS+5 "Cavalry"
 STR_UNITS+6 "Paladin"
 STR_UNITS+7 "Goblin"
 STR_UNITS+8 "Orc"
 STR_UNITS+9 "Wolf"
 STR_UNITS+10 "Ogre"
 STR_UNITS+11 "Troll"
 STR_UNITS+12 "Cyclops"
 STR_UNITS+13 "Sprite"
 STR_UNITS+14 "Dwarf"
 STR_UNITS+15 "Elf"
 STR_UNITS+16 "Druid"
 STR_UNITS+17 "Unicorn"
 STR_UNITS+18 "Phoenix"
 STR_UNITS+19 "Centaur"
 STR_UNITS+20 "Gargoyle"
 STR_UNITS+21 "Griffin"
 STR_UNITS+22 "Minotaur"
 STR_UNITS+23 "Hydra"
 STR_UNITS+24 "Dragon"
 STR_UNITS+25 "Rogue"
 STR_UNITS+26 "Nomad"
 STR_UNITS+27 "Ghost"
 STR_UNITS+28 "Genie"
}

STRINGTABLE
{
 STR_ARTIF "None"
 STR_ARTIF+1 "Ultimate Book"
 STR_ARTIF+2 "Ultimate Sword"
 STR_ARTIF+3 "Ultimate Cloak"
 STR_ARTIF+4 "Ultimate Wand"
 STR_ARTIF+5 "Arcane Necklace"
 STR_ARTIF+6 "Caster`s Bracelet"
 STR_ARTIF+7 "Mage`s Ring"
 STR_ARTIF+8 "Witches Broach"
 STR_ARTIF+9 "Medal (+1 Morale)"
 STR_ARTIF+10 "Medal (+1 Morale)"
 STR_ARTIF+11 "Medal (+1 Morale)"
 STR_ARTIF+12 "Medal (+1 Morale)"
 STR_ARTIF+13 "Fizbin Medal (-2 Morale)"
 STR_ARTIF+14 "Thunder Mace"
 STR_ARTIF+15 "Armored Gauntlets"
 STR_ARTIF+16 "Defender Helm"
 STR_ARTIF+17 "Giant Flail"
 STR_ARTIF+18 "Ballista"
 STR_ARTIF+19 "Stealth Shield"
 STR_ARTIF+20 "Dragon Sword"
 STR_ARTIF+21 "Power Axe"
 STR_ARTIF+22 "Divine Breastplate"
 STR_ARTIF+23 "Minor Scroll"
 STR_ARTIF+24 "Major Scroll"
 STR_ARTIF+25 "Superior Scroll"
 STR_ARTIF+26 "Foremost Scroll"
 STR_ARTIF+27 "Endless Sack"
 STR_ARTIF+28 "Endless Bag"
 STR_ARTIF+29 "Endless Purse"
 STR_ARTIF+30 "Nomad Boots"
 STR_ARTIF+31 "Traveler`s Boots"
 STR_ARTIF+32 "Rabbit`s Foot"
 STR_ARTIF+33 "Horseshoe"
 STR_ARTIF+34 "Coin"
 STR_ARTIF+35 "Clover"
 STR_ARTIF+36 "Compass"
 STR_ARTIF+37 "Astrolabe"
}

STRINGTABLE
{
 STR_SPELL "None"
 STR_SPELL+1 "Fireball"
 STR_SPELL+2 "Lighting Bolt"
 STR_SPELL+3 "Teleport"
 STR_SPELL+4 "Cure"
 STR_SPELL+5 "Resurect"
 STR_SPELL+6 "Haste"
 STR_SPELL+7 "Slow"
 STR_SPELL+8 "Blind"
 STR_SPELL+9 "Bless"
 STR_SPELL+10 "Protection"
 STR_SPELL+11 "Curse"
 STR_SPELL+12 "Turn Undead"
 STR_SPELL+13 "Anti-Magic"
 STR_SPELL+14 "Dispel Magic"
 STR_SPELL+15 "Berzeker"
 STR_SPELL+16 "Armageddon"
 STR_SPELL+17 "Storm"
 STR_SPELL+18 "Meteor Shower"
 STR_SPELL+19 "Paralyze"
 STR_SPELL+20 "View Mines"
 STR_SPELL+21 "View Resources"
 STR_SPELL+22 "View Artifacts"
 STR_SPELL+23 "View Towns"
 STR_SPELL+24 "View Heroes"
 STR_SPELL+25 "View All"
 STR_SPELL+26 "Identify Hero"
 STR_SPELL+27 "Summon Boat"
 STR_SPELL+28 "Dimension Door"
 STR_SPELL+29 "Town Gate"
 }


